<div class="d-flex justify-content-between mb-3 mt-3">
  <div class='w-50'>
    <%= render @customer %>
  </div>
  <div class="d-flex align-items-start">
    <%= link_to icon('fa-regular', 'edit'), edit_customer_path(@customer), class: 'btn btn-primary me-2' %>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal-<%= @customer.id %>">
      <%= icon('fa-regular', 'trash') %>  
    </button>   
  </div>
</div>
<%= render partial: 'deleteModal', locals: { customer: @customer } %>
<div>
  <%= link_to "Back to customers", customers_path, class: "btn btn-secondary" %>
</div>

<% if @customer.orders.any? %>
  <h2 class="mt-4 mb-3">Orders</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @customer.orders.each do |order| %>
        <tr>
          <td><%= order.product_name %></td>
          <td><%= order.product_count %></td>
          <td class="d-flex justify-content-around">
            <%= link_to icon('fa-regular', 'eye'), order_path(order), class: 'btn btn-primary' %>
            <%= link_to icon('fa-regular', 'edit'), edit_order_path(order), class: 'btn btn-primary' %>
            <%= button_to icon('fa-regular', 'trash'), order, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No orders for this customer.</p>
<% end %>
