<%= form_with(model: order, local: true) do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation" style="color: red">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
  
        <ul>
          <% order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class= 'mt-2'>
      <%= form.label :product_name %>
      <%= form.text_field :product_name %>
    </div>
  
    <div class= 'mt-2'>
      <%= form.label :product_count %>
      <%= form.number_field :product_count %>
    </div>
  
    <div class= 'mt-2'>
        <%= form.label :customer_id, "Customer" %>
        <%= form.collection_select :customer_id, @customers, :id, :full_name, include_blank: true %>
    </div>
  
    <div class="mt-3">
        <%= form.submit class: 'btn', style: 'background-color: #4b6b55; color: white;' %>
    </div>
<% end %>
  