<div>
  <h2><%= order.product_name %></h2>
  <p>Count: <%= order.product_count %></p>
  <p>Customer: <%= order.customer.full_name %></p>
  <div>
    <%= link_to "Edit this order", edit_order_path(order) %> |
    <%= button_to "Destroy this order", order, method: :delete %>
  </div>
</div>